
#interact_title{
	width: 100%;
	height: 40px;
    background-color: #212121;
    color: white;
    font-size: 90%;
	font-weight: 100;
	display: flex;
	flex-flow: row nowrap;
	
	text-align: center;
	line-height: 40px;
}


#title_left {
	flex: .4;
	height: 40px;
  margin-top: 4px;	

	
}


}
#title_center {
	flex: 2;
    width: 60px;
	height: 40px;
}
#title_right{
	flex: 2;
	width: 40px;
	height: 40px;
    position: relative;
}
#return{
	background-repeat: no-repeat;
	height: 40px;
	width: 26px;
	margin-top: 6px;
	margin-left: 10px;
}

/*#line{
	border: 1px solid black ;
}*/
#name{
	height: 40px;
     width: 60px;
	color: white;
	font-size: 100%;
	margin-left: 0px;
	
}
#user{
	height: 40px;
	width: 30px;
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;
	margin-right: 10px;

}